/* Typography */

@font-face{
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Light.ttf)format('truetype');
}

body{
    font-family: Poppins;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

/* common */

.flex{
    display: flex;
}

.clearfix::before{
    content: " ";
    display: table;
    clear: both;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}


/* layouts */

.l_container{
    
}

.l_wrapper{
    width: 1280px;
    margin: 0 auto;
}

.l_contentBox{
    height: 650px;
    position: relative;
}

.l_shortingWrapper{
    width: 980px;
    height: 600px;
    margin-top: -75px;
}

/* component */

.header{
    background-color: #aaaaaa;
    margin-top: 30px;
}

.header-title{
    background-color: rgb(161, 91, 161);
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
}

.header-nav{
    background-color: tomato;
    justify-content: space-between;
    width: 100%;
    line-height: 36px;
}

.header-nav li{
    margin: 0 35px;
    display: inline-block;
    vertical-align: middle;
}

.header-nav-left{
    background-color: violet;
}

.header-nav-right{
    background-color: rgb(155, 26, 26);
}

.introduction{
    background-color: #8b8b8b;
}

.intro-contents{
    width: 700px;
}

.intro-contents-main{
    height: 400px;
    margin: 75px 0;
    padding-right: 100px;
    box-sizing: border-box;
}

.intro-contents-main p{
    line-height: 1.3em;
    font-weight: 100;
}

.intro-contents-title{
    font-size: 68px;
    font-weight: 800;
    line-height: 1.2em;
}

.intro-contents-button{
    display: block;
    margin: 15px 0;
}

.intro-img{
    position: absolute;
    right: -20px;
    top: 50px;
    width: 650px;
    height: 400px;
    background-image: url(../images/illustration-working.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.shortingBox{
    background-color: #F0F1F7;
}

.short-inputBox{
    background-color: rgb(91, 58, 92);
    background-image: url(../images/bg-boost-desktop.svg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}

.short-form{
    padding-top: 45px;
    justify-content: center;
}

.short-form-input{
    height: 60px;
    width: 670px;
    box-sizing: border-box;
}

.short-form-button{
    height: 60px;
    width:  160px;
    margin-left: 30px;
}

.short-form-alert{
    margin-top: 10px;
    margin-left: 60px;
}

.short-logBox{
    font-weight: 700;
}

.short-logBox ul{
}

.short-logBox-log{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    border-radius: 10px;
}

.short-logBox-log-urlBox{
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px 15px 40px;
    font-size: 18px;
    line-height: 40px;

}

.log-urlBox-before{
    color: black;
}

.log-urlBox-after{
    color: #31CDD2;
}

.short-logBox-log-button{
    width: 140px;
    height: 35px;
    margin: 17.5px 20px;
    background-color: #31CDD2;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
}



.content{
    background-color: #333;
}

.content-title{
    margin: auto;
    width: 500px;
}

.content-title h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0;

}

.content-title p{
    text-align: center;
    font-size: 22px;
    line-height: 32px;
}

.content-contentBox{
    margin: 60px 0;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
}

.content-contentBox-line{
    width: 1280px;
    height: 15px;
    top: 50%;
    /* translate: (0, -7.5px); */
    background-color: turquoise;
    position: absolute;
    z-index: 0;
}

.content-contentBox-detail{
    height: 300px;
    width: 400px;
    background-color: violet;
    position: relative;
    box-sizing: border-box;
    padding: 80px 20px 30px 20px;
}

.content-contentBox:nth-child(1){
    top: 0px;
}

.content-contentBox:nth-child(2){
    top: 33%;

}.content-contentBox:nth-child(3){
    bottom: 0%;
}
.detail-icon{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    left: 30px;
    top: -50px;
    position: absolute;
}

.detail-title{

}

.content-contentBox-detail p{

}

.guiding{
    background-color: aquamarine;
}

.footer{
    background-color: bisque;
}