/* Typography */

@font-face{
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Light.ttf)format('truetype');
}

body{
    font-family: Poppins;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

/* common */

.flex{
    display: flex;
}


/* layouts */

.l_container{
    
}

.l_wrapper{
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;

}

.l_contentBox{
    height: 650px;
    position: relative;
}

.l_shortingWrapper{
    width: 980px;
    margin-top: -75px;
}

/* component */

.header{
    background-color: #aaaaaa;
    margin-top: 30px;
}

.header-title{
    background-color: rgb(161, 91, 161);
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
}

.header-nav{
    background-color: tomato;
    justify-content: space-between;
    width: 100%;
    line-height: 36px;
}

.header-nav li{
    margin: 0 35px;
    display: inline-block;
    vertical-align: middle;
}

.header-nav-left{
    background-color: violet;
}

.header-nav-right{
    background-color: rgb(155, 26, 26);
}

.introduction{
    background-color: #8b8b8b;
}

.intro-contents{
    width: 700px;
}

.intro-contents-main{
    height: 400px;
    margin: 75px 0;
    padding-right: 100px;
    box-sizing: border-box;
}

.intro-contents-main p{
    line-height: 1.3em;
    font-weight: 100;
}

.intro-contents-title{
    font-size: 68px;
    font-weight: 800;
    line-height: 1.2em;
}

.intro-contents-button{
    display: block;
    margin: 15px 0;
}

.intro-img{
    position: absolute;
    right: -20px;
    top: 50px;
    width: 650px;
    height: 400px;
    background-image: url(../images/illustration-working.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.shortingBox{
    background-color: #dddddd;
}

.short-inputBox{
    background-color: rgb(91, 58, 92);
    background-image: url(../images/bg-boost-desktop.svg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}

.short-form{
    padding-top: 45px;
    justify-content: center;
}

.short-form-input{
    height: 60px;
    width: 670px;
    box-sizing: border-box;
}

.short-form-button{
    height: 60px;
    width:  160px;
    margin-left: 30px;
}

.short-form-alert{
    margin-top: 10px;
    margin-left: 60px;
}

.short-logBox{

}

.short-logBox ul{
    background-color: tomato;
}

.short-logBox-log{
    margin-top: 20px;
    background-color: yellow;
    height: 70px;
    border-radius: 10px;
}



.content{
    background-color: #333;
}

.guiding{
    background-color: aquamarine;
}

.footer{
    background-color: bisque;
}