/* Typography */

@font-face{
    font-family: Poppins;
    src: url(../font/Poppins/Poppins-Light.ttf)format('truetype');
}

body{
    font-family: Poppins;
    color: black;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
}

/* common */

.flex{
    display: flex;
}

.clearfix::before{
    content: " ";
    display: table;
    clear: both;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}




/* layouts */

.l_container{
    
}

.l_wrapper{
    width: 1280px;
    margin: 0 auto;
}

.l_contentBox{
    height: 650px;
    position: relative;
}

.l_shortingWrapper{
    width: 980px;
    height: 600px;
    margin-top: -75px;
}

/* component */

.header{
    margin-top: 30px;
}

.header-title{
    font-size: 36px;
    font-weight: 700;
    margin-right: 20px;
}

.header-nav{
    justify-content: space-between;
    width: 100%;
    line-height: 46px;
}

.header-nav li{
    margin: 0 35px;
    display: inline-block;
    vertical-align: middle;
    color: gray;
    transition: background-color 0.5s, color 0.5s;
}

.header-nav li:hover{
    color: black;
}

.nav-signUp{
    background-color: #9DE2E2;
    box-sizing: border-box;
    padding: 5px 25px;
    border-radius: 23px;
    line-height: 36px;

}

.nav-signUp a{
    color: white;
}

.nav-signUp:hover{
    background-color: #2BD1CE;
}

.header-nav-left{
}

.header-nav-right{
}

.introduction{
}

.intro-contents{
    width: 700px;
}

.intro-contents-main{
    height: 400px;
    margin: 75px 0;
    padding-right: 100px;
    box-sizing: border-box;
}

.intro-contents-main p{
    line-height: 1.3em;
    font-weight: 500;
    color: gray;
    font-size: 22px;
}

.intro-contents-title{
    font-size: 68px;
    font-weight: 900;
    line-height: 1.2em;
}

.intro-contents-button{
    display: block;
    margin: 50px 0;
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: #9DE2E2;
    display: inline-block;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    transition: background-color 0.3s;

}

.intro-contents-button:hover{
    background-color: #2BD1CE;
}

.intro-img{
    position: absolute;
    right: -20px;
    top: 50px;
    width: 650px;
    height: 400px;
    background-image: url(../images/illustration-working.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.shortingBox{
    background-color: #F0F1F7;
}

.short-inputBox{
    background-color: rgb(91, 58, 92);
    background-image: url(../images/bg-boost-desktop.svg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}

.short-form{
    padding-top: 45px;
    justify-content: center;
}

.short-form-input{
    height: 60px;
    width: 670px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    font-size: 19px;
    padding: 0 30px;
}


.short-form-input:focus{
    outline: none;
}

.short-form-button{
    height: 60px;
    width:  160px;
    margin-left: 30px;
    border-radius: 7px;
    border: none;
    transition: background-color 0.3s;
    background-color: #9DE2E2;
    font-size: 20px;
    color: white;

}

.short-form-button:hover{
    background-color: #2BD1CE;

}

.short-form-button:focus{
    outline: none;

}

.alert{
    border: 3px solid rgb(184, 56, 34);
    border-radius: 7px;

}

.alert::placeholder{
    color: rgb(184, 56, 34);

}


.short-form-alert{
    margin-top: 10px;
    margin-left: 60px;
}

.short-logBox{
    font-weight: 700;
}

.short-logBox ul{
}

.short-logBox-log{
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    border-radius: 10px;
}

.short-logBox-log-urlBox{
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px 15px 40px;
    font-size: 18px;
    line-height: 40px;

}

.log-urlBox-before{
    color: black;
}

.log-urlBox-after{
    color: #31CDD2;
}

.short-logBox-log-button{
    width: 140px;
    height: 35px;
    margin: 17.5px 20px;
    background-color: #31CDD2;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 17px;
}



.content{
}

.content-title{
    margin: auto;
    width: 500px;
}

.content-title h1{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 0;

}

.content-title p{
    text-align: center;
    font-size: 22px;
    line-height: 32px;
}

.content-contentBox{
    margin: 60px 0;
    height: 500px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
}

.content-contentBox-line{
    width: 1280px;
    height: 15px;
    top: 50%;
    /* translate: (0, -7.5px); */
    background-color: turquoise;
    position: absolute;
    z-index: 0;
}

.content-contentBox-detail{
    height: 300px;
    width: 400px;
    background-color: violet;
    position: relative;
    box-sizing: border-box;
    padding: 80px 20px 30px 20px;
}

/* .content-contentBox:nth-child(1){
    top: 0px;
}

.content-contentBox:nth-child(2){
    top: 33%;

}.content-contentBox:nth-child(3){
    bottom: 0%;
} */

.detail-icon{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    left: 30px;
    top: -50px;
    position: absolute;
}

.detail-title{

}

.content-contentBox-detail p{

}

.guiding{
    background-color: aquamarine;
}

.footer{
    background-color: bisque;
}